<html  xmlns:th="http://www.thymeleaf.org">
<head>
<link href='../CSS/style.css' rel='stylesheet'>
   <link th:href='@{/CSS/bg.css}' rel='stylesheet'>
  <link href='../CSS/bootstrap.min.css' rel='stylesheet'>
</head>
<div th:insert="/user/top"></div>
<body class='bg'>
<div class='bg-light py-5 mt-5' style='max-width:700px;border-radius:10px;margin-left:auto;margin-right:auto'>
 <div class='text-center'>
  <label class='h2' th:if="${samep==0}" th:text="${msg}" style="color:green"></label>
 </div>
 </div>
 <div class='dvv'>
   <a href='/profile/profile' class='btn btn-warning'>Back</a>
 </div>
</body>
</html>